[data-role=page]{height: 100% !important; position:relative !important; text-align: center; }
[data-role=header]{text-align:center;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%; text-align: center;} 
#splash {
    color: white;
    text-align: center;     
    background: radial-gradient(circle,#729ee5, #476aa3);
}

#home{
    color: white;
    background: radial-gradient(circle,#729ee5, #476aa3);  
    text-align: center;     

}
#moxtitle{
    padding-top: 70%;
}
#homefooter{
    color: white;
    text-align: center;     
    background: radial-gradient(circle,#729ee5, #476aa3);  
}

#header{    
    background-color: #729ee5; color: white;
    width:100%;
    text-align: center;    
}

#footer{
    width:100%;
    color:white; background-color: #476aa3;
}

.ui-header .ui-title{
    text-align: center;
}

*{
    font-weight: bold;
}

.ui-input-text:after, .ui-body-inherit:after, .ui-corner-all:after, .ui-shadow-inset:after{
    content: none;
    
    text-align: center;
}
.ui-input-text, .ui-body-inherit, .ui-corner-all, .ui-shadow-inset{
    text-align: center;
    width: 80%;
    margin: auto;
}
/* 
.textInputField{
    text-align: center; width:100%; box-shadow:1px 1px grey; border: 1px solid lightgrey; margin-top:5px;
} */

#stepsInput, #activeMinutesInput{
    width: 80%;
    box-shadow:1px 1px grey; 
    border: 1px solid lightgrey; 
    margin-top:15px;
    text-align: center;
}

body,
ul{
    padding: 0;
    margin: 0;
}

body.ios{
    margin-top: 20px;
}

body:not(.android) .android-only,
body:not(.ios) .ios-only,
body:not(.windows) .windows-only{
    display: none;
}

.os-conditional,
.settings button.os-conditional{
    display: none;
}

body.android .os-conditional.android,
body.ios .os-conditional.ios,
body.windows .os-conditional.windows,
body.android .settings button.os-conditional.android,
body.ios .settings button.os-conditional.ios,
body.windows .settings button.os-conditional.windows{
    display: block;
}


h2{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
li{
    list-style: none;
    clear: right;
    padding: 0;
    margin: 12px 0 0 4px;
}
li span.name{

}
li span.state,
li span.value{
    float: right;
    padding: 2px;
}
li span.on{
    background-color: green;
}
li span.off{
    background-color: red;
}

li span.on,
li.off span.on,
li.on span.off{
    display: none;
}

li.on span.on{
    display: list-item !important;
}

.settings{
    border-top: 1px solid #000;
    margin-top: 24px;
    padding-top: 24px;
    width: 100%;
}

.settings button,
.settings select{
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}

.disabled{
    color: #cccccc;
}

#request-external-sd-details-results{
    display: none;
    margin-top: 12px;
    border-top: 1px solid #000;
    width: 100%;
    word-break: break-word;
}
#request-external-sd-details-results p{
    padding: 12px;
}
#write-external-sd-file{
    display: none;
}

#request-remote-notifications{
    border: 1px solid #ccc;
    margin: 0 12px;
    padding-top: 12px;
}

#request-remote-notifications *{
    text-align: center;
}

/* .android-only, .waves-effect, .waves-button, .ui-btn, .ui-shadow, .ui-corner-all{
    content: none;
} */

#toonBehaaldeActieveMinuten, #slasher, #toonDoelActieveMinuten, #toonBehaaldeStappen {
    width: 20%; float: left;
}
#toonBehaaldeActieveMinuten, #toonBehaaldeStappen{
    margin-left: 20%;
}

progress[value] {
    /* Styling here */
    width:90%;
 }


/* PROGRRESS BAR */
/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 * Licensed under the MIT License
 *
 * Sass/SCSS source: https://goo.gl/UhXKg
 * PSD by Vin Thomas: https://goo.gl/n1M2e
 */
/*
 body {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #2a2a2a;
  }
  
  .container {
    margin: 60px auto;
    width: 90%;
    text-align: center;
  }
  
  .container .progress {
    margin: 0 auto;
    width: 90%;
  }
  
  .progress {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar {
    height: 16px;
    border-radius: 4px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  }
  
  /*
   * Note: using adjacent or general sibling selectors combined with
   *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
   *       See this article for more info and a potential fix:
   *       https://css-tricks.com/webkit-sibling-bug/
   
  
  #five:checked ~ .progress > .progress-bar {
    width: 5%;
    background-color: #f63a0f;
  }
  
  #twentyfive:checked ~ .progress > .progress-bar {
    width: 25%;
    background-color: #f27011;
  }
  
  #fifty:checked ~ .progress > .progress-bar {
    width: 50%;
    background-color: #f2b01e;
  }
  
  #seventyfive:checked ~ .progress > .progress-bar {
    width: 75%;
    background-color: #f2d31b;
  }
  
  #onehundred:checked ~ .progress > .progress-bar {
    width: 100%;
    background-color: #86e01e;
  }
  
  .radio {
    display: none;
  }
  
  .label {
    display: inline-block;
    margin: 0 5px 20px;
    padding: 3px 8px;
    color: #aaa;
    text-shadow: 0 1px black;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .radio:checked + .label {
    color: white;
    background: rgba(0, 0, 0, 0.25);
  }
  */